<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311145011582-ask98vmf3jr62q34ja5p27h1ejng57ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311145011582-ask98vmf3jr62q34ja5p27h1ejng57ig</string>
	<key>API_KEY</key>
	<string>AIzaSyBjx9iOGzpopVPBUYmBtogPHNT-Q6JJpjM</string>
	<key>GCM_SENDER_ID</key>
	<string>311145011582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleksandrShvidkyi.Online-Store</string>
	<key>PROJECT_ID</key>
	<string>online-store-32758</string>
	<key>STORAGE_BUCKET</key>
	<string>online-store-32758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311145011582:ios:a41c6952713f71d59f3b2f</string>
</dict>
</plist>